# 後端
/backend/**/target/
/backend/**/.idea
/backend/**/*.iml
/backend/**/*.class
/backend/**/*Test.java
/backend/**/test/

# 忽略 application-dev.yml
/backend/**/application-dev.yml


# 前端
# Logs
/fontend/**/logs
/fontend/**/*.log
/fontend/**/npm-debug.log*
/fontend/**/yarn-debug.log*
/fontend/**/yarn-error.log*
/fontend/**/pnpm-debug.log*
/fontend/**/lerna-debug.log*

/fontend/**/node_modules
/fontend/**/.DS_Store
/fontend/**/dist
/fontend/**/dist-ssr
/fontend/**/coverage
/fontend/**/*.local

/fontend/**/cypress/videos/
/fontend/**/screenshots/

# Editor directories and files
/fontend/**/.vscode/*
!/fontend/**/.vscode/extensions.json
/fontend/**/.idea
/fontend/**/*.suo
/fontend/**/*.ntvs*
/fontend/**/*.njsproj
/fontend/**/*.sln
/fontend/**/*.sw?
