<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mattwei.mapper.EmployeeMapper">

    <select id="pageQuery" resultType="com.github.mattwei.vo.EmployeeVO">
        select * from user
        <where>
            <if test="account != null and account != ''">
                and account like concat('%',#{account},'%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
                    and role = 2
        </where>
        order by update_time desc
    </select>
</mapper>