<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mattwei.mapper.MealMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into meal(name, category_id, price, image, description, status, create_time, update_time)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="pageQuery" resultType="com.github.mattwei.vo.MealVO">
        select m.*, c.name as categoryName
        from meal m
        left join category c on m.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and m.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and m.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and m.status = #{status}
            </if>
        </where>
        order by m.update_time desc
    </select>

    <delete id="deleteByIds">
        delete from meal
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 可能修改的欄位都要寫上，好讓多個接口複用 -->
    <update id="update">
        update meal
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>