<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mattwei.mapper.MealFlavorMapper">

    <insert id="insertBatch">
        insert into meal_flavor (meal_id, name, value) values
        <foreach collection="flavors" item="flavor" separator=",">
            (#{flavor.mealId}, #{flavor.name}, #{flavor.value})
        </foreach>
    </insert>

    <delete id="deleteByMealIds">
        delete from meal_flavor where meal_id in
        <foreach collection="mealIds" item="mealId" open="(" close=")" separator=",">
            #{mealId}
        </foreach>
    </delete>
</mapper>