<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mattwei.mapper.ShoppingCartMapper">
    <insert id="insertBatch">
        insert into shopping_cart (name, image, user_id, meal_id, meal_flavor, number, amount, create_time)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name}, #{sc.image}, #{sc.userId}, #{sc.mealId}, #{sc.mealFlavor}, #{sc.number}, #{sc.amount}, #{sc.createTime})
        </foreach>
    </insert>

    <select id="list" resultType="com.github.mattwei.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="mealId != null">
                and meal_id = #{mealId}
            </if>
            <if test="mealFlavor != null">
                and meal_flavor = #{mealFlavor}
            </if>
        </where>
    </select>
</mapper>